# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\from-github\hazelcast-test-stand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
